<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    <table>
        <tr>
            <td>username:</td>
            <td><input type="text" name="uname" id=""></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="password" name="pwd" id=""></td>
        </tr>
        <tr>
            <td>re_password:</td>
            <td><input type="password" name="pwd2" id=""></td>
        </tr>
        <tr>
            <td><input type="submit" value="登陆"></td>
        </tr>
    </table>
</form>
</body>
</html>