<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text" name="uname" id=""></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="pwd" id=""></td>
        </tr>
        <tr>
            <td>确认密码:</td>
            <td><input type="password" name="pwd2" id=""></td>
        </tr>
        <tr>
            <td>电话号码:</td>
            <td><input type="text" name="number" id=""></td>
        </tr>
        <tr>
            <td>年龄:</td>
            <td><input type="number" name="age" id=""></td>
        </tr>
        <tr>
            <td>邮箱地址:</td>
            <td><input type="email" name="email" id=""></td>
        </tr>
        <tr>
            <td><input type="submit" value="注册"></td>
        </tr>
    </table>
</form>
</body>
</html>